/* New variables */

$md-text-size: 16px;
$lg-text-size: 18px;
$xl-text-size: 24px;

$text1: #ECF8FF;
$text2: #C9E2F0;

$green1: #B0FBBC;
$green2: #82F9A1;

$blue1: #111A20;
$blue1b: #162129;
$blue2: #1C2C35;
$blue3: #243B4A;
$blue4: #416883;
$blue5: #5E8CA7;

//------------------------------------------------------


/* Colors */

$lighter-black: #4d4d4d;
$light-black: #424242;
$darker-black: #393939;
$green-highlight: #69dfae;
//$light-text: #b9d2d2;
//$lightest-text: #daf4f4;
$light-text: white;
$lightest-text: white;
//$green-box: #3c4d4f;
$green-box: #37483f;


/* Font-sizes/Weights */

$small-text-size: 18px;
$small-text-weight: 300;
$medium-text-size: 20px;
$medium-text-weight: 300;
$section-heading-size: 32px;
$section-heading-weight: 600;
$small-title-size: 28px;
$small-title-weight: 600;
$big-title-size: 28px;
$big-title-weight: 600;