
/* Colors */

$light-black: #343434;
$green-highlight: #69dfae;
$light-text: #b9d2d2;
$lightest-text: #daf4f4;
//$green-box: #3c4d4f;
$green-box: #37483f;


/* Font-sizes/Weights */


$small-text-size: 18px;
$small-text-weight: 300;
$medium-text-size: 20px;
$medium-text-weight: 300;
$section-heading-size: 32px;
$section-heading-weight: 600;
$small-title-size: 28px;
$small-title-weight: 600;
$big-title-size: 28px;
$big-title-weight: 600;